spring:
  application:
    name: RepairDock

  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: 2285
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
